@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

.sketchboard {
  margin: 5vh auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 80%;
  max-width: 40vw;
  max-height: 40vh;
  gap: 1em;
}

.sketchboard__buttons {
  display: flex;
  justify-content: center;
}

.sketchboard__buttons__new-board {
  box-shadow: 0em 0.10em 0.10em 0em rgba(24, 153, 214, 0.3);
  font-size: 2em;
  border: none;
  background-color: rgb(28, 176, 246);
  color: white;
  width: 100%;
}

.sketchboard__buttons__new-board:active {
  box-shadow: none;
  box-shadow: 0em 0.03em 0.03em 0em rgba(24, 153, 214, 0.3);
  margin: 0.03em 0 0;
}

.sketchboard__area {
  display: grid;
  justify-content: center;
  align-content: center;
  aspect-ratio: 1;
  box-shadow: 0em 0.25em 0.25em 0em rgba(24, 153, 214, 0.3);
}

.sketchboard__pixel {
  background-color: white;
}

.sketchboard__pixel--hover {
  border: 0.25em solid red;
}

.sketchboard__pixel--clicked {
  background-color: blue;
}
