@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  background-color: rgb(230, 230, 230);
}

.sketchboard,
.sketchboard__clear,
.sketchboard__tools,
.sketchboard__colors {
  color: white;
  display: grid;
  gap: 1%;
}

.sketchboard {
  margin: 5vh auto;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  max-width: 60vw;
  max-height: 60vh;
  aspect-ratio: 1;
}

.sketchboard__colors {
  grid-row: 2 / 11;
  grid-column: 1;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 1fr);
}

.sketchboard__tools {
  grid-row: 1;
  grid-column: 2 / 11;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr;
}

.sketchboard__area {
  box-shadow: 0em 0.25em 0.25em 0em rgba(24, 153, 214, 0.3);
  justify-content: center;
  align-content: center;
  grid-row: 2 / 11;
  grid-column: 2 / 11;
  display: grid;
}

.sketchboard__clear > *,
.sketchboard__colors > *,
.sketchboard__tools > * {
  font-size: 1em;
  box-shadow: 0em 0.2em 0.2em 0em rgba(24, 153, 214, 0.3);
  border: none;
  background-color: rgb(28, 176, 246);
  color: white;
  line-height: 0;
}

.sketchboard__clear > *:active,
.sketchboard__colors > *:active,
.sketchboard__tools > *:active {
  box-shadow: 0em 0.1em 0.1em 0em rgba(24, 153, 214, 0.3);
  margin: 0.05em 0 0;
}

.sketchboard__tools__size {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.sketchboard__tools__color-picker {
  grid-column: 4 / 6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.sketchboard__tools__rainbow {
  grid-column: 6 / 7;
}

.sketchboard__tools__lighten {
  grid-column: 7 / 8;
  background: radial-gradient(
    circle,
    rgba(164, 223, 251, 1) 0%,
    rgba(28, 176, 246, 1) 50%
  );
}

.sketchboard__tools__darken {
  grid-column: 8 / 9;
  background: radial-gradient(
    circle,
    rgba(12, 71, 98, 1) 0%,
    rgba(28, 176, 246, 1) 50%
  );
}

.sketchboard__tools__eraser {
  grid-column: 9 / 10;
}

.sketchboard__colors__black {
  grid-row: 2 / 3;
  /* background-color: rgb(0, 0, 0); */
}

.sketchboard__colors__white {
  grid-row: 3 / 4;
  /* background-color: rgb(255, 255, 255); */
}

.sketchboard__colors__magenta {
  grid-row: 4 / 5;
  /* background-color: rgb(255, 0, 255); */
}

.sketchboard__colors__red {
  grid-row: 5 / 6;
  /* background-color: rgb(255, 0, 0); */
}

.sketchboard__colors__yellow {
  grid-row: 6 / 7;
  background-color: rgb(255, 255, 0);
}

.sketchboard__colors__green {
  grid-row: 7 / 8;
  background-color: rgb(0, 255, 0);
}

.sketchboard__colors__cyan {
  grid-row: 8 / 9;
  background-color: rgb(0, 255, 255);
}

.sketchboard__colors__blue {
  grid-row: 9 / 10;
  background-color: rgb(0, 0, 255);
}

.sketchboard__tools__size__icon {
  grid-column: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sketchboard__tools__size__input {
  grid-column: 2 / 3;
  width: 100%;
  font-size: 1.5em;
  border: none;
  padding: 0 10%;
  outline: none;
}

.sketchboard__tools__color-picker__icon {
  grid-column: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sketchboard__tools__color-picker__input {
  grid-column: 2 / 3;
  width: 100%;
  font-size: 1.5em;
  border: none;
  padding: 0 10%;
  outline: none;
}

input[type="color"] {
  appearance: none;
  border: none;
  width: 100%;
  height: 100%;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}
